{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
	<p>This is an intermediate page so that we can generate and check a crumb. We will inline this into the URL shortly.</p>

	<form action="/signout/" method="post" accept-encoding="UTF-8">
    <input type="hidden" name="crumb" value="{{ crumb_input }}" />
		<input type="hidden" name="done" value="1" />
		<input type="submit" class="btn btn-primary" value="SIGN OUT" />
	</form>
</div>
{% endblock %}
