{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

{% if error %}
{% if error.error_missing %}Please enter an email address and password{% endif %}
{% if error.error_nouser %}A user with that email address does not exist{% endif %}
{% if error.error_deleted %}The user associated with that email address has been deleted{% endif %}
{% if error.error_password %}Please enter a valid password{% endif %}
{% endif %}

<div class="container">

	<form action="/signin/" method="post" accept-encoding="UTF-8" class="form-horizontal">
		<input type="hidden" name="signin" value="1" />
		<input type="hidden" name="redir" value="{$redir|escape}" />

		<fieldset>
	      <div class="control-group">
				<label class="control-label" for="email">email address</label>
				<div class="controls">
					<input type="email" name="email" size="40" value="" />
				</div>
			</div>

	      <div class="control-group}">
				<label class="control-label" for="password">password</label>
				<div class="controls">
					<input type="password" name="password" size="40" />
				</div>
			</div>

	        <div class="form-actions">
				<input type="submit" class="btn btn-primary" value="SIGN IN" />
			</div>
		</fieldset>
	</form>

</div>


{% endblock %}
